name: Release

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      build_ubuntu:
        description: "Build Ubuntu"
        required: false
        type: boolean
        default: true
      build_macos:
        description: "Build MacOS"
        required: false
        type: boolean
        default: true
      build_windows:
        description: "Build Windows"
        required: false
        type: boolean
        default: true
      build_android:
        description: "Build Android"
        required: false
        type: boolean
        default: true
      build_ios:
        description: "Build iOS and upload to TestFlight"
        required: false
        type: boolean
        default: true
      release_tags:
        description: "Release Page Tags"
        required: true

permissions:
  contents: write

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-22.04
    outputs:
      release_id: ${{ steps.create_release.outputs.id }}
    steps:
      - name: Create or update release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.release_tags }}
          name: Moly ${{ github.event.inputs.release_tags }}
          draft: true
          token: ${{ secrets.MOLY_RELEASE }}

  build_ubuntu:
    name: Ubuntu
    needs: [create_release]
    runs-on: ${{ matrix.os }}
    if: ${{ github.event.inputs.build_ubuntu == 'true' }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        rust: [1.89]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libssl-dev pkg-config llvm clang libclang-dev binfmt-support libxcursor-dev libx11-dev libasound2-dev libpulse-dev libwayland-dev libxkbcommon-dev

      - name: Install Rust-stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          rustflags: ""
          cache: true

      - name: Package (linux)
        uses: project-robius/makepad-packaging-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.MOLY_RELEASE }}
          CARGO_PACKAGER_SIGN_PRIVATE_KEY: ${{ secrets.CARGO_PACKAGER_SIGNING_KEY }}
          CARGO_PACKAGER_SIGN_PRIVATE_KEY_PASSWORD: ${{ secrets.CARGO_PACKAGER_SIGNING_PASSWORD }}
        with:
          releaseId: ${{ needs.create_release.outputs.release_id }}
          packager_formats: deb,appimage
          retryAttempts: 2

  build_macos:
    name: MacOS
    needs: [create_release]
    runs-on: ${{ matrix.os }}
    if: ${{ github.event.inputs.build_macos == 'true' }}
    strategy:
      matrix:
        os: [macos-14, macos-13]
        rust: [1.89]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust-stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          rustflags: ""
          cache: true

      - name: Package (macos)
        uses: project-robius/makepad-packaging-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.MOLY_RELEASE }}
          CARGO_PACKAGER_SIGN_PRIVATE_KEY: ${{ secrets.CARGO_PACKAGER_SIGNING_KEY }}
          CARGO_PACKAGER_SIGN_PRIVATE_KEY_PASSWORD: ${{ secrets.CARGO_PACKAGER_SIGNING_PASSWORD }}
        with:
          releaseId: ${{ needs.create_release.outputs.release_id }}
          packager_formats: dmg
          retryAttempts: 2

  build_windows:
    name: Windows
    needs: [create_release]
    runs-on: windows-2022
    if: ${{ github.event.inputs.build_windows == 'true' }}
    strategy:
      matrix:
        rust: [1.89]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust-stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          rustflags: ""
          cache: true

      - name: Package (windows)
        uses: project-robius/makepad-packaging-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.MOLY_RELEASE }}
          CARGO_PACKAGER_SIGN_PRIVATE_KEY: ${{ secrets.CARGO_PACKAGER_SIGNING_KEY }}
          CARGO_PACKAGER_SIGN_PRIVATE_KEY_PASSWORD: ${{ secrets.CARGO_PACKAGER_SIGNING_PASSWORD }}
        with:
          releaseId: ${{ needs.create_release.outputs.release_id }}
          packager_formats: nsis
          updaterJsonPreferNsis: true
          retryAttempts: 2

  build_android:
    name: Android
    needs: [create_release]
    runs-on: ubuntu-22.04
    if: ${{ github.event.inputs.build_android == 'true' }}
    strategy:
      matrix:
        rust: [1.85]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust-stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          rustflags: ""
          cache: true

      - name: Package (android)
        uses: project-robius/makepad-packaging-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.MOLY_RELEASE }}
        with:
          releaseId: ${{ needs.create_release.outputs.release_id }}
          args: --target aarch64-linux-android
          retryAttempts: 2

  build_ios:
    name: IOS
    needs: [create_release]
    runs-on: macos-15
    if: ${{ github.event.inputs.build_ios == 'true' }}
    strategy:
      matrix:
        rust: [1.89]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust-stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          rustflags: ""
          cache: true

      - name: Package (ios + testflight)
        uses: project-robius/makepad-packaging-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.MOLY_RELEASE }}
          MAKEPAD_IOS_ORG: org.moxin
          MAKEPAD_IOS_APP: moly
          MAKEPAD_IOS_CREATE_IPA: true
          MAKEPAD_IOS_UPLOAD_TESTFLIGHT: true
          APPLE_CERTIFICATE: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          APPLE_CERTIFICATE_PASSWORD: ${{ secrets.P12_PASSWORD }}
          APPLE_PROVISIONING_PROFILE: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          APPLE_KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          APP_STORE_CONNECT_API_KEY_CONTENT: ${{ secrets.APP_STORE_CONNECT_API_KEY_CONTENT }}
          APP_STORE_CONNECT_KEY_ID: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
        with:
          releaseId: ${{ needs.create_release.outputs.release_id }}
          args: --target aarch64-apple-ios
          retryAttempts: 2
